/*start Navigation section*/
nav {
    top: 5px;
    position: sticky;
    justify-self: center;
    padding: 5px;
    border-radius: 30px;
    background-color: whitesmoke;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInScale 0.8s ease forwards;
}

nav:hover {
    background-color: #f8f9fa;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

nav a {
    margin: 2px;
    padding: 10px;
    color: black;
    border-radius: 30px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkgray;
}

#header {
    display: none;
    top: 5px;
    position: sticky;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 1px 2px gray;
    background-color: whitesmoke;
}

#header h3 {
    margin: 5px;
    display: inline-block;
}

#header button {
    border: none;
    float: right;
    padding: 10px;
    border-radius: 30px;
    background-color: gray;
}
/*end Navigation section*/



/*start About section*/
#about {
    margin: 50px auto;
    overflow: auto;
}

#about div {
    float: left;
    width: 50%;
}

#about div p {
    margin: 5x;
    padding: 10px;
    font-size: x-large;
}

#about div p span {
    font-weight: bold;
}

#about div button {
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: darkgray;
    cursor: pointer;
}

#about img {
    float: right;
    margin: 0px 80px;
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid gray;
}
/*end About section*/


/*start Education section*/
#education {
    margin: 30px 0;
    text-align: center;
}

#education header {
    margin: 15px;
}
/*end Education section*/



/*start Skills section*/
#skills {
    margin: 30px 0;
    text-align: center;
}

#skills header {
    margin: 15px;
}

#skills div {
    display: flex;
    flex-wrap: wrap;
}

#skills div i {
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}
/*end Skills section*/



/*start Projects section*/
#projects {
    margin: 30px 0;
    text-align: center;
}

#projects header {
    margin: 15px;
}

.project {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    margin: 5px;
    width: 320px;
    padding: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.project-card:hover {
    box-shadow: 0 0 1px 2px gray;
}

.project-card img {
    height: 400px;
    border-radius: 10px;
}

.project-card a {
    margin: 0px 10px;
    color: blue;
    text-decoration: none;
}

.project-card a:hover {
    color: darkblue;
}
/*end Projects section*/



/*start Experience section*/
#experience {
    margin: 30px 0;
    text-align: center;
}

#experience header {
    margin: 15px;
}
/*end Experience section*/



/*start Contact section*/
#contact {
    margin: 30px 0;
    text-align: center;
}

#contact header {
    margin: 15px;
}

#contact div a {
    margin: 0px 5px;
    padding: 15px;
    color: black;
    border-radius: 50px;
    text-decoration: none;
}

#contact div a:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*end Contact section*/



/* Footer */
footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}

.li {
    right: 15px;
    bottom: 15px;
    position: fixed;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: large;
    border-radius: 30px;
    background-color: darkgray;
}

#contact_links {
    display: none;
    width: 50px;
    right: 15px;
    bottom: 65px;
    position: fixed;
    animation: fadeInScale 0.5s ease forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#contact_links a {
    margin: 3px;
    padding: 15px;
    color: black;
    border-radius: 30px;
    font-size: large;
    text-decoration: none;
    background-color: darkgray;
}

#contact_links a:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* Footer */



/* Responsive Design */
@media (max-width: 700px) {
    nav {
        display: none;
        top: 65px;
        left: 5px;
        right: 5px;
        position: fixed;
        animation: none;
    }

    nav a {
        display: block;
        width: 93%;
        animation: fadeInScale 0.8s ease forwards;
    }

    #header {
        display: block;
    }

    #about {
        margin: 5px auto;
    }

    #about div {
        width: 100%;
    }

    #about img {
        float: none;
        margin: 30px auto;
        animation: fadeInScale 0.8s ease forwards;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
}

@media (min-width: 900px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}
/* Responsive Design */
