body {
    margin: 5px 150px;
}

/* Navigation */
nav {
    top: 5px;
    position: sticky;
    justify-self: center;
    padding: 5px;
    border-radius: 15px 0;
    background-color: whitesmoke;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    animation: fadeInScale 0.8s ease forwards;
}

nav a {
    margin: 2px;
    padding: 10px;
    color: black;
    border-radius: 15px 0;
    text-decoration: none;
}

nav a:hover {
    transition: 1s;
    background-color: darkgray;
}

header {
    display: none;
    top: 5px;
    position: sticky;
    padding: 10px;
    border-radius: 15px 0;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    background-color: whitesmoke;
}

header h3 {
    margin: 5px;
    display: inline-block;
}

header button {
    border: none;
    float: right;
    padding: 10px;
    border-radius: 15px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

header button:hover {
    transition: 1s;
    background-color: darkgray;
}
/* Navigation */



/* About */
#about {
    margin: 50px auto;
    overflow: auto;
}

#about div {
    float: left;
}

#about div p {
    margin: 5x;
    padding: 10px;
    font-size: x-large;
}

#about div p span {
    font-weight: bold;
}

#about div button {
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px 0;
    background-color: whitesmoke;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

#about div button:hover {
    transition: 1s;
    background-color: darkgray;
}

#about img {
    float: right;
    margin: 0px 80px;
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 30px 0;
    border: 3px solid rgba(0, 0, 0, 0.3);
}
/* About */


/* Education */
#education {
    margin: 30px 0;
    text-align: center;
}
/* Education */



/* Skills */
#skills {
    margin: 30px 0;
    text-align: center;
}

#skills div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills div div {
    display: inline-block;
    margin: 5px;
    width: 350px;
    padding: 15px;
    border-radius: 15px 0;
    background-color: whitesmoke;
}

#skills div i {
    display: block;
    margin: 5px;
    padding: 18px;
    border-radius: 15px 0;
    background-color: white;
}

#skills div i:hover {
    transition: 1s;
    background-color: darkgray;
}
/* Skills */



/* Projects */
#projects {
    margin: 30px 0;
    text-align: center;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    display: inline-block;
    margin: 5px;
    width: 350px;
    padding: 15px;
    border-radius: 15px 0;
    background-color: whitesmoke;
}

.project-card:hover {
    transition: 1s;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.project-card img {
    height: 300px;
}

.project-card a {
    color: black;
    margin: 0px 10px;
    text-decoration: none;
}

.project-card a:hover {
    transition: 1s;
    text-decoration: underline;
}
/* Projects */



/* Experience */
#experiences {
    margin: 30px 0;
    text-align: center;
}

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience-card {
    display: inline-block;
    margin: 5px;
    width: 350px;
    padding: 15px;
    border-radius: 15px 0;
    background-color: whitesmoke;
}

.experience-card:hover {
    transition: 1s;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.experience-card img {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    float: inline-start;
    border-radius: 50%;
}

.experience-card .info {
    margin: 5px 10px;
    float: inline-end;
}
/* Experience */



/* Follow Me */
#follow {
    margin: 30px 0;
    text-align: center;
}

#follow div a {
    margin: 0px 5px;
    padding: 15px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

#follow div a:hover {
    transition:  0.5s;
    transform: scale(1.5);
}
/* Follow Me */


/* Footer */
footer {
    padding: 10px;
    text-align: center;
}

.contact_icon {
    right: 15px;
    bottom: 15px;
    position: fixed;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: large;
    border-radius: 15px 0;
    background-color: gray;
}

.contact_icon:hover {
    transition: 1s;
    background-color: darkgray;
}

#contact {
    display: none;
    width: 50px;
    right: 10px;
    bottom: 65px;
    position: fixed;
    animation: fadeInScale 0.5s ease forwards;
}

#contact a {
    margin: 3px 0;
    padding: 15px;
    color: black;
    border-radius: 15px 0;
    font-size: large;
    text-decoration: none;
    background-color: gray;
}

#contact a:hover {
    transition: 1s;
    background-color: darkgray;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/* Footer */



/* Responsive Design */
@media (max-width: 700px) {
    body {
        margin: 5px 15px;
    }
    
    nav {
        display: none;
        top: 65px;
        left: 15px;
        right: 15px;;
        position: fixed;
        animation: none;
        border-radius: 15px 0;
    }

    nav a {
        display: block;
        width: 93%;
        animation: fadeInScale 0.8s ease forwards;
    }

    header {
        display: block;
    }

    #about {
        margin: 30px auto;
    }

    #about div {
        width: 100%;
    }

    #about img {
        float: none;
        margin: 40px auto;
    }
    
    .experience-card img {
        float: none;
    }

    .experience-card .info {
        float: none;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
}

@media (min-width: 900px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}
/* Responsive Design */